#div{
   
    color: rgb(21, 22, 22);
    font-size: 30px;
}

*{
   background-image: url('https://tse3.mm.bing.net/th?id=OIP.1DFh43WyTT2R5fd3P-xdZwHaE8&pid=Api&P=0&h=180');
   background-repeat: no-repeat;
  
   background-size: cover;
}